.reviews {
    .slick-list {
        @media (width >= 704px) {
            margin-right: -1000px;
        }
    }
    .slick-slide {
        height: 170px;
        @media (width >= 1344px) {
            height: 239px;
        }

        .review-header {
            display: none;
        }
        & > div {
            height: 100%;
        }
        &.slick-current {
            height: 206px;
            @media (width >= 704px) {
                height: 246px;
            }

            @media (width >= 1344px) {
                height: 346px;
            }
            .review-header {
                display: flex;
            }
        }
    }
    .slick-dots {
        @media (width < 704px) {
            bottom: -50px;
        }
        li {
            height: 100%;
            border-radius: 20px;
            margin: 0;
            button {
                &::before {
                    content: none;
                }
            }
            &.slick-active {
                @apply bg-eatly-violet;
            }
        }
    }
}
