@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-popins);
}
@layer base {
  h1,
  .h1 {
    @apply text-8xl;
    @apply font-semibold;
    @apply font-popins;
    @apply tracking-[-3px];
    @media screen and (max-width: 1280px) {
      @apply text-5.3xl;
    }
  }
  h2,
  .h2 {
    @apply text-5.1xl;
    line-height: 114%;
    @apply font-bold;
  }
  h3,
  .h3 {
    @apply text-4.5xl;
    @apply font-semibold;
  }
  p {
    @apply text-lg;
    @apply font-inter;
  }
  .container {
    @apply px-4;
    @apply mx-auto;
  }
}
.reviews {
  .slick-list {
    margin-right: -1000px;
  }
  .slick-slide {
    height: 239px;
    .review-header {
      display: none;
    }
    & > div {
      height: 100%;
    }
    &.slick-current {
      height: 346px;
      .review-header {
        display: flex;
      }
    }
  }
  .slick-dots {
    li {
      height: 100%;
      border-radius: 20px;
      button {
        &::before {
          content: none;
        }
      }
      &.slick-active {
        @apply bg-eatly-violet;
      }
    }
  }
}
