@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-popins);
}
p {
  @apply text-eatly-gray-600;
  @apply text-xs;

  @media (width >= 1088px) {
    @apply text-sm;
  }
  @media (width >= 1344px) {
    @apply text-base;
  }
}
@layer base {
  h1,
  .h1 {
    @apply font-semibold;
    @apply font-popins;

    @apply text-4.6xl;
    @media (width >= 919px) {
      @apply text-5.3xl;
      letter-spacing: -1px;
    }
    @media (width >= 1090px) {
      @apply text-6xl;
    }
    @media (width >= 1296px) {
      @apply text-7xl;
      @apply tracking-[-3px];
    }
    @media (width >= 1552px) {
      @apply text-8xl;
    }
  }
  h2,
  .h2 {
    line-height: 114%;
    @apply font-bold;
    @apply text-3xl;
    @media (width >= 950px) {
      @apply text-4xl;
    }
    @media (width >= 1088px) {
      @apply text-4.6xl;
    }
    @media (width >= 1344px) {
      @apply text-5.1xl;
    }
  }
  h3,
  .h3 {
    @apply font-semibold;
    @apply text-3xl;
    @media (width >= 950px) {
      @apply text-3.2xl;
    }
    @media (width >= 1088px) {
      @apply text-4.5xl;
    }
    @media (width >= 1344px) {
      @apply text-4.5xl;
    }
  }
  p {
    @apply text-lg;
    @apply font-inter;
  }
}

